.main-heading{
	color: #1C2833;
	background-color: #FFC300;
	padding: 13%;
	/*display: flex;*/
	margin-top: 1%;
	box-shadow: 5px 8px #133214;
	text-align: center;
}

img.main-img{
	height:50px;
	width: 50px;
}

html{
	font-family: 'Oswald', sans-serif;
	background-color: #FFFBB9;
}

.features, .get-started{
	color: #1C2833;
	background-color: #FFC300;
	padding: 15%;
	/*display: flex;*/
	margin-top: 5%;
	box-shadow: 5px 8px #133214;
}

.login, .signup{
	border: 2px solid #133214;
	color: white;
	background-color: black;
	display:inline-block;
	padding: 5px;
	margin: 10px;
	width:270px;
	height: 50px;
	text-align: center;
	border-radius: 9px;
	font-size:200%;
	text-decoration: none;
}

a.login:hover, a.signup:hover{
	background-color: #FF5809;
	border: 2px solid #140652;
	color: #302C29;
	box-shadow: 5px 5px #302C29;
}

.get-started{
	padding: auto;
	
}
.footer{
	color: #FFC300;
	background-color: #012902;
	padding: 15%;
	margin-top: 1%;
	margin-left: 0px;
	margin-right: 0%;
	margin-bottom: 0%;
	text-align: center;
	
}

img{
	height: 30px;
}

.contact, .made-by{
	display: inline-block;
	padding: 1rem 1rem;
	vertical-align: middle;
	text-align: justify;
}







