.main-heading{
	color: #1C2833;
	background-color: #FFC300;
	padding: 15%;
	/*display: flex;*/
	margin-top: 1%;
	box-shadow: 5px 8px #133214;
	
}


html{
	font-family: 'Oswald', sans-serif;
	background-color: #FFFBB9;
}

.features, .get-started{
	color: #1C2833;
	background-color: #FFC300;
	padding: 15%;
	/*display: flex;*/
	margin-top: 5%;
	box-shadow: 5px 8px #133214;
}

.login, .signup{
	border: 2px solid #133214;
	color: white;
	background-color: black;
	display:table;
	padding: 5px;
	margin: 10px;
}


