.main-heading{
	color: #1C2833;
	background-color: #FFC300;
	padding: 15%;
	/*display: flex;*/
	margin-top: 1%;
	box-shadow: 5px 8px #133214;
	
}


html{
	font-family: 'Oswald', sans-serif;
	background-color: #FFFBB9;
}

.features{
	color: #1C2833;
	background-color: #FFC300;
	padding: 15%;
	/*display: flex;*/
	margin-top: 5%;
	box-shadow: 5px 8px #133214;
}
